@model ReviewSite.Models.Reviews

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h3 class="delete-alert">Are you sure you want to delete this?</h3>
<div class="detail">
    <hr />
    <p>
        <strong>@Html.DisplayNameFor(model => model.Rating):</strong> @Html.DisplayFor(model => model.Rating)
        <span class="date"><strong>@Html.DisplayNameFor(model => model.Category.Name):</strong>  @Html.DisplayFor(model => model.Category.Name)</span>
    </p>

    <p>
        <strong>@Html.DisplayNameFor(model => model.VisitDate):</strong>
        @Html.DisplayFor(model => model.VisitDate)
    </p>

    <p class="content-detail">
        <strong>@Html.DisplayNameFor(model => model.Content):</strong>
        @Html.DisplayFor(model => model.Content)
    </p>

    <p>
        <strong>@Html.DisplayNameFor(model => model.ReviewDate):</strong>
        @Html.DisplayFor(model => model.ReviewDate)
    </p>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
            @Html.ActionLink("Cancel", "Details", new { id = Model.ID }, new { @class = "btn btn-primary btn-sm" })
        </div>
    }
</div>
