@model ReviewSite.Models.Reviews
@*  assign review title to page title  *@
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}

<h2>@ViewBag.Title</h2>

<div class="detail">
    <hr />

    <p>
        <strong>@Html.DisplayNameFor(model => model.Rating):</strong> @Html.DisplayFor(model => model.Rating)
        <span class="date"><strong>@Html.DisplayNameFor(model => model.Category.Name):</strong>  @Html.DisplayFor(model => model.Category.Name)</span>
    </p>

    @*@foreach (var item in 4)
        {
        <p>* </p>
        }*@
    <p>
        <strong>@Html.DisplayNameFor(model => model.VisitDate):</strong>
        @Html.DisplayFor(model => model.VisitDate)
    </p>

    <p class="content-detail">
        <strong>@Html.DisplayNameFor(model => model.Content):</strong>
        @Html.DisplayFor(model => model.Content)
    </p>

    <p>
        <strong>@Html.DisplayNameFor(model => model.ReviewDate):</strong>
        @Html.DisplayFor(model => model.ReviewDate)
    </p>
    </div>
    <br/>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Back to List", "Index", "Home", new { @class = "btn btn-primary btn-sm" })
</p>
