@model IEnumerable<ReviewSite.Models.Reviews>

@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("New Review", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-4 thumbnail">
            <div class="caption">

                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <h4>@Html.DisplayFor(modelItem => item.Category.Name)</h4>
                <p>Rating:  @Html.DisplayFor(modelItem => item.Rating) Date:  @Html.DisplayFor(modelItem => item.VisitDate)</p>

                <p>@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    }
</div>


    @*@Html.DisplayFor(modelItem => item.Content)*@
    @*@Html.DisplayFor(modelItem => item.ReviewDate)*@

    @*@Html.ActionLink("Details", "Details", new { id = item.ID })*@
    @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
    @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
