@model IEnumerable<ReviewSite.Models.Reviews>

@{
    ViewBag.Title = "Reviews";
}

<h1>Reviews</h1>

<p>
    @Html.ActionLink("New Review", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-4 thumbnail">
            <div class="caption">

                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <h4>@Html.DisplayNameFor(model => model.Category.Name): @Html.DisplayFor(modelItem => item.Category.Name)</h4>
                <p><strong>Rating:</strong>  @Html.DisplayFor(modelItem => item.Rating) <span class="date"><strong>Date:</strong>  @Html.DisplayFor(modelItem => item.VisitDate)</span></p>

                <p>@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })</p>
            </div>
        </div>
    }
</div>


    @*@Html.DisplayFor(modelItem => item.Content)*@
    @*@Html.DisplayFor(modelItem => item.ReviewDate)*@

    @*@Html.ActionLink("Details", "Details", new { id = item.ID })*@
    @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
    @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
